h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
  font-family: sans-serif;
  font-weight: lighter;
}

.nymc {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 70%;
  margin-left: 100px;
}

.nymcdiv {
  border-top: solid black 1px;
  padding-top: 5px;
}

.span2 {
  grid-column: span 2;
  border-top: solid black 1px;
  padding-top: 5px;
}

h2 {
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 50px;
}

p {}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    margin-top: 40px;
  }

  img {
    margin-left: 70px;
  }

  h2 {
    margin-top: 25px;
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }

  img {
    margin-left: 50px;
  }

  h2 {
    margin-top: 5px;
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}
