.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
}

#span2 {
  grid-column: span 2;
}

h1 {
  font-size: 3vw;
  font-family: sans-serif;
  font-weight: 320;
}

h2 {
  font-size: 1.8vw;
  margin-top: -10px;
  font-family: sans-serif;
  font-weight: 320;
}

p {
  font-size: 1vw;
  margin-top: -10px;
  font-family: sans-serif;
  font-weight: 320;
  line-height: 1.5;
  margin-top: 20px;
}
